<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>iOS Image Server</title>
<style>
.main {
  width: 1024px;
  max-width: calc(100%-32px);
  margin-left: auto;
  margin-right: auto;
}
.image {
  width: 100%;
  text-align: center;
}
#prev {
 float: left;
}
#next {
 float: right;
}
body {
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 300;
}
</style>
</head>

