{{>head}}
<body>
<style>
.cell {
  width: 240px;
  height: 200px;
  text-align: center;
  margin: 8px;
  float: left;
}
</style>
<div class="main">
<h1>iOS Image Server</h1>
<div class="images">
{{#images}}
<div class="cell">
<a href="/image/{{index}}"><img src="/assets/{{index}}?width=240&height=200"/></a>
</div>
{{/images}}
</div>
<div>
{{#prev}}<a href="/image/{{.}}/{{count}}" id="prev">prev</a>{{/prev}}
{{#next}}<a href="/image/{{.}}/{{count}}" id="next"">next</a>{{/next}}
</div>
</div>
</body>
</html>
