{{>head}}
<body>
<div class=main>
<h1>iOS Image Server</h1>
<div class="image">
<img src="/assets/{{index}}?width=1024&height=800"/>
</div>
<div>
{{#prev}}<a href="/image/{{.}}" id="prev">prev</a>{{/prev}}
{{#next}}<a href="/image/{{.}}" id="next"">next</a>{{/next}}
</div>
</div>
</body>
</html>
