{{>head}}
<body>
<div class=main>
<h1>iOS Image Server</h1>
<div>
Please enter the login token
<form action="/" method="post">
<input type="text" id="token" name="token"/><br/>
<input type="submit" value="Submit"/>
</form>
</div>
</div>
</body>
</html>

