<!DOCTYPE html>
<html>
<head>
<title>Sign in with Apple</title>
<meta name="og:title" content="Sign in with Apple"/>
<script src="https://cdn.tailwindcss.com"></script>
{{$head}}{{/head}}
</head>
<body class="bg-gray-100">
    <div class="p-6 max-w-md mx-auto bg-white rounded-xl items-centered space-x-4 shadow-lg">
        <div>
            <img src="images/hummingbird.png" class="w-64 mx-auto"/>
        </div>
        {{$body}}{{/body}}
    </div>
    {{$script}}{{/script}}
</body>
