{{>head}}
<body>
<div>
<h1>Please enter your details</h1>
<form action="/" method="post">
<label for="name">Name</label><br/>
<input type="text" id="name" name="name"/><br/>
<label for="age">Age</label><br/>
<input type="text" id="age" name="age"/><br/>
<input type="submit" value="Submit"/>
</form>
</div>
</body>
</html>
